# Development database configs for test and dev environment
  DB_USERNAME = Your development test databse user
  DB_HOST = Your development database host
  DB_PASSWORD = Yourdevelopment  database password
  DB_NAME = Your development database name

# Test database configs 
  TEST_DB_USERNAME = Your test databse user
  TEST_DB_HOST = Your test database host
  TEST_DB_PASSWORD = Your test database password
  TEST_DB_NAME = Your test database name


# Production database url
  DATABASE_URL = Your production database url

# JWT authentication token config
  ISSUER = Your JWT issuer
  SECRET = Your JWT secret key
  SUBJET = Your token subject
  EXPIRATION = Your token expiration

# JWT configs
  ISSUER = CMRC
  JWT_SECRET = 30trg5b504rri?e$&Rr3@dx!f34crfriozaxxgnmju<weere?er5

# port config
  PORT = Your preferred port

# Sentry 
  SENTRY = Your sentry account for error reporting and logging

# Cloudinary credentials
  CLOUD_NAME = Your cloudinary credentials
  CLOUD_API_KEY = Your cloudinary api key
  CLOUD_API_SECRET = Your cloudinary api secret

# Twilio credentials
  TWILIO_ACCOUNT_ID = Your Twilio account id
  TWILIO_AUTH_TOKEN = Your Twilio authentication token
  FROM_NUMBER = Your Twilio from number

# SendGrid API Key
  SENDGRID_API_KEY = your sendgrid API key
  FROM_EMAIL = Your registered sendgrid email

# Admin credentials
  ADMIN_PASSWORD = Your admin email passord
  EMAIL_PASSWORD = Your admin email passord

# Elastic search credentials
  ELASTIC_SEARCH_USERNAME = your elastic search username
  ELASTIC_SEARCH_PASSWORD = your elastic search password
